@charset "UTF-8";
/* reset css */
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: 0px !important;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

button[disabled] {
  pointer-events: none;
}

input {
  padding: 0;
}

input:required {
  box-shadow: none;
}

input:invalid {
  box-shadow: none;
}

::-webkit-scrollbar {
  /* make scrollbar transparent */
  width: 0px;
  background: transparent;
}

/* basic setting */
/* 使用@each 產出css size設定 */
.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.h-25 {
  height: 25%;
}

.h-50 {
  height: 50%;
}

.h-75 {
  height: 75%;
}

.h-100 {
  height: 100%;
}

/* 使用@each 產出css spacer設定 */
.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mr-0 {
  margin-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.m-1 {
  margin: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.m-5 {
  margin: 1.25rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.m-6 {
  margin: 1.5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.m-7 {
  margin: 1.75rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mr-7 {
  margin-right: 1.75rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.ml-7 {
  margin-left: 1.75rem;
}

.mx-7 {
  margin-left: 1.75rem;
  margin-right: 1.75rem;
}

.my-7 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.m-8 {
  margin: 2rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mr-8 {
  margin-right: 2rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.ml-8 {
  margin-left: 2rem;
}

.mx-8 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.p-0 {
  padding: 0;
}

.pt-0 {
  padding-top: 0;
}

.pr-0 {
  padding-right: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.p-1 {
  padding: 0.25rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pl-4 {
  padding-left: 1rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.p-6 {
  padding: 1.5rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.p-7 {
  padding: 1.75rem;
}

.pt-7 {
  padding-top: 1.75rem;
}

.pr-7 {
  padding-right: 1.75rem;
}

.pb-7 {
  padding-bottom: 1.75rem;
}

.pl-7 {
  padding-left: 1.75rem;
}

.px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.p-8 {
  padding: 2rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pr-8 {
  padding-right: 2rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pl-8 {
  padding-left: 2rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

select, form .form-row input {
  border: 1px solid #a7aaaf;
  border-radius: 5px;
  font-size: 16px;
  padding: 8px;
}
select:hover, form .form-row input:hover, select:focus, form .form-row input:focus {
  border-color: #4a4a4a;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  background: #f8f7fc;
  color: #18253d;
  font-family: "PingFang TC";
}

.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-blockt;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.cursor-pointer {
  cursor: pointer;
}

header {
  height: 50px;
  width: 100%;
  position: relative;
}
header .title-toggle-label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 3%;
  display: flex;
  align-items: center;
}
header .hamburger {
  position: relative;
  width: 25px;
  height: 3px;
  background: #267b98;
}
header .hamburger::after, header .hamburger::before {
  height: 3px;
  background: #267b98;
}
header .hamburger::after,
header .hamburger::before {
  content: "";
  position: absolute;
  left: 0;
}
header .hamburger::before {
  top: 8px;
  width: 15px;
}
header .hamburger::after {
  bottom: 8px;
  width: 30px;
}
header .title-toggle:checked ~ .title-link {
  transform: scale(1, 1);
}
header .title-toggle:checked ~ .title-link .title-item {
  opacity: 1;
  transition: opacity 0.2s ease-out 0.15s;
}
header .title-toggle {
  position: absolute;
  visibility: hidden;
}
header .title-link {
  position: absolute;
  top: 100%;
  text-align: center;
  width: 100%;
  height: 611px;
  transform: scale(1, 0);
  background: #ffffff;
  transition: transform 0.3s ease-out;
  transform-origin: top;
  z-index: 999;
}
header .title-link .title-item {
  position: relative;
  margin: 1.4rem 0;
  opacity: 0;
}
header .title-link .title-item::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 14.5px;
  right: 14.5px;
  bottom: 24px;
  border-bottom: 2px solid #a7aaaf;
}
header .header-logo {
  height: 30px;
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .icon {
  position: absolute;
  top: calc(100% + 239px);
  width: 100%;
  display: flex;
  justify-content: center;
  background: #ffffff;
  opacity: 0;
  transition: opacity 0.1s ease-out;
  z-index: 999;
}
header .icon img {
  height: 30px;
  width: 30px;
  margin: 0 43px;
}
header .title-toggle:checked ~ .icon {
  opacity: 1;
  transition: opacity 0.4s ease-out 0.15s;
}

.checked-title {
  margin-top: 16px;
  margin-left: 15px;
}

.main {
  display: flex;
  flex-direction: column;
}

.container-wrapper {
  width: 100%;
  height: 600px;
}
.container-wrapper .checked-stepper {
  width: 100%;
  margin-top: 24px;
  display: flex;
}

.step {
  position: relative;
  flex: 1;
}
.step:nth-child(1) .circle-container::after {
  content: "1";
}
.step:nth-child(2) .circle-container::after {
  content: "2";
}
.step:nth-child(3) .circle-container::after {
  content: "3";
}
.step .circle-container {
  position: absolute;
  left: 15px;
  height: 32px;
  width: 32px;
  border: 1px solid #AFB1BD;
  border-radius: 50%;
  color: #AFB1BD;
  margin: 0 auto;
}
.step .circle-container::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.step .label-container {
  visibility: hidden;
}
.step.checked .circle-container::after {
  content: "✔";
}
.step.checked .circle-container, .step.active .circle-container {
  background-color: #2A2A2A;
  color: #FFFFFF;
}
.step.checked .label-container, .step.active .label-container {
  color: #18253d;
}
.step .connect-line {
  display: block;
  width: 60px;
  height: 1px;
  background-color: #2A2A2A;
  position: absolute;
  top: 15.5px;
  right: calc(50%);
  left: calc(-50%);
}

.checked-form {
  margin-top: 56px;
  margin-left: 15px;
}

form .part-title {
  margin-bottom: 24px;
  margin-top: 24px;
}
form .form-row > label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
}
form .form-row input[type=radio] {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}
form .form-row input[type=radio]:checked {
  box-shadow: inset 0 0 0 6px #2A2A2A;
}

.select-wrapper {
  position: relative;
  z-index: 0;
}
.select-wrapper::after {
  content: "";
  border-style: solid;
  border-width: 5px 4.5px 0px 4.5px;
  border-color: #2A2A2A transparent transparent transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 18px;
  z-index: -1;
}

select {
  -webkit-appearance: none;
  cursor: pointer;
  width: 100%;
  background-color: transparent;
}
select:invalid {
  color: #747474;
}

.address-detail {
  display: grid;
  grid-template-columns: 133px 183px;
  grid-gap: 30px;
  grid-template-areas: "gender real-name" "mobile mobile" "email email" "county county" "address address";
}
.address-detail input {
  width: 100%;
}
.address-detail .gender {
  grid-area: gender;
}
.address-detail .gender select {
  width: 100%;
}
.address-detail .real-name {
  grid-area: real-name;
}
.address-detail .mobile {
  grid-area: mobile;
}
.address-detail .email {
  grid-area: email;
}
.address-detail .county {
  grid-area: county;
}
.address-detail .address {
  grid-area: address;
}

.shipping-method .form-row {
  position: relative;
  border: 1px solid #dfdfe4;
  border-radius: 4px;
  width: 346px;
  height: 60px;
  margin-bottom: 24px;
}
.shipping-method .form-row input {
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 306px;
}
.shipping-method .form-row input:checked ~ .tag-title::after {
  content: "";
  position: absolute;
  top: -12px;
  left: -61px;
  border: 1px solid #2A2A2A;
  border-radius: 4px;
  width: 344px;
  height: 59px;
}
.shipping-method .form-row .tag-title {
  position: absolute;
  top: 11px;
  left: 60px;
  bottom: 29px;
  right: 83px;
  font-size: 14px;
  font-weight: 400;
}
.shipping-method .form-row .tag-description {
  position: absolute;
  top: 33px;
  left: 60px;
  bottom: 31px;
  right: 20px;
  font-size: 14px;
  font-weight: 400;
}
.shipping-method .form-row .tag-costs {
  position: absolute;
  top: 13px;
  left: 302px;
  bottom: 11px;
  right: 83px;
  font-size: 12px;
  font-weight: 400;
  width: 30px;
}
.shipping-method .form-row .fast {
  font-weight: 700;
}

.payment-info {
  display: grid;
  grid-template-columns: repeat(2, 158px);
  grid-gap: 30px;
  grid-template-areas: "card-name card-name" "card-id card-id" "card-date-line card-cvc";
}
.payment-info .card-name {
  grid-area: card-name;
}
.payment-info .card-name input {
  width: 100%;
}
.payment-info .card-id {
  grid-area: card-id;
}
.payment-info .card-id input {
  width: 100%;
}
.payment-info .card-date-line {
  grid-area: card-date-line;
}
.payment-info .card-date-line input {
  width: 158px;
}
.payment-info .card-cvc {
  grid-area: card-cvc;
  margin: 0px;
}
.payment-info .card-cvc label {
  height: 21px;
}
.payment-info .card-cvc input {
  width: 158px;
}

.shopping-wrapper {
  margin: 32px 0px 0px 15px;
}
.shopping-wrapper .btn {
  height: 110px;
  margin: 32px 15px 0px 0px;
  padding: 24px 0px 40px 0px;
  border-top: 1px solid #dfdfe4;
}
.shopping-wrapper .btn button {
  font-size: 14px;
}
.shopping-wrapper .btn .btn-next {
  width: 345px;
  height: 46px;
  background-color: #F67599;
  color: white;
  border-radius: 7px;
}

.shopping-container {
  width: 345px;
  height: 360px;
  border: 1px solid #dfdfe4;
  border-radius: 4px;
}
.shopping-container .shopping-title {
  display: none;
}
.shopping-container .shopping-content .list-detail {
  position: relative;
  width: 345px;
  height: 118px;
}
.shopping-container .shopping-content .list-detail img {
  position: absolute;
  top: 18px;
  left: 18px;
  width: 100px;
  height: 100px;
}
.shopping-container .shopping-content .list-detail .commodity-title {
  position: absolute;
  top: 16px;
  right: 16px;
}
.shopping-container .shopping-content .list-detail .shopping-btn {
  position: absolute;
  top: 58px;
  right: 16px;
}
.shopping-container .shopping-content .list-detail .shopping-btn button {
  width: 26px;
  height: 26px;
  background-color: #F0F0F5;
  border-radius: 50%;
  font-size: 20px;
}
.shopping-container .shopping-content .list-detail .shopping-btn .count {
  margin: 0 20px;
}
.shopping-container .shopping-content .list-detail .price {
  position: absolute;
  top: 90px;
  right: 16px;
  font-size: 22px;
}
.shopping-container .transportation-fee,
.shopping-container .shopping-total {
  position: relative;
  border-top: 1px solid #dfdfe4;
  margin: 16px 16px 0 16px;
  height: 36px;
  padding: 16px 0;
}
.shopping-container .transportation-fee .fee-price,
.shopping-container .transportation-fee .total,
.shopping-container .shopping-total .fee-price,
.shopping-container .shopping-total .total {
  position: absolute;
  right: 0px;
}
.shopping-container .transportation-fee .fee-price,
.shopping-container .shopping-total .fee-price {
  font-weight: 700;
}

@media screen and (min-width: 375px) {
  body {
    width: 1440px;
    padding: 0 165px;
  }

  header {
    display: grid;
    grid-template-columns: minmax(400px, 2fr) 2fr 1fr;
    align-content: center;
  }
  header .title-link {
    all: unset;
    grid-column: 1/2;
    display: flex;
    justify-content: space-around;
  }
  header .title-link .title-item {
    opacity: 1;
  }
  header .title-link .title-item::after {
    all: unset;
  }
  header .header-logo {
    grid-column: 2/3;
  }
  header .icon {
    all: unset;
    grid-column: 3/4;
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
  }
  header .icon img {
    width: 30px;
  }
  header .title-toggle-label {
    display: none;
  }

  .main {
    display: flex;
    flex-direction: row;
  }

  .container-wrapper {
    width: 540px;
    margin-top: 30px;
    margin-right: 130px;
  }

  .shopping-wrapper {
    width: 440px;
    margin-top: 48px;
  }
  .shopping-wrapper .shopping-title {
    display: block;
    margin: 32px 24px 0 24px;
  }
  .shopping-wrapper .shopping-container {
    height: 420px;
  }

  .checked-stepper {
    width: 540px;
  }

  .step .label-container {
    all: unset;
    position: absolute;
    top: 5px;
    left: 60px;
  }
  .step .connect-line {
    left: calc(-50% + 40px);
  }

  .shopping-title {
    all: unset;
  }

  form .part-title {
    margin-top: 68px;
  }

  .address-detail {
    grid-template-columns: repeat(4, 100px);
    grid-gap: 30px;
    grid-template-areas: "gender  real-name real-name real-name" "mobile mobile email email" "county  address address address";
  }

  .payment-info .card-date-line input {
    width: 220px;
  }
  .payment-info .card-cvc {
    margin-left: 60px;
  }
  .payment-info .card-cvc input {
    width: 220px;
  }
}

/*# sourceMappingURL=output.css.map */
